<!DOCTYPE html>
<html>
    <head>
        <title>{{ apache_default_page_title }}</title>
    </head>
    <body>
        <h1>{{ apache_default_page_heading }}</h1>
        <p>{{ apache_default_page_description }}</p>
    </body>
</html>
